# Tutorial 01: SQL

**The goal of this tutorial is to answer 20 questions about movies using SQL queries.**

The database is stored on a SQLite file and populated from a subset of IMDB datasets.

The schema is the same as on the website, except table 'crew' is split into 2 tables:
- _directors_: tconst / nconst
- _writers_: tconst / nconst

Note that you should not order your results if the question does not mention it.

__Grade Scale__: 20 points
* correct answer: 1 point
* incorrect answer: 0 point

__Further documentations__:

* https://www.imdb.com/interfaces/
* http://www.tutorialspoint.com/sqlite/
* https://learnxinyminutes.com/docs/python/
* https://docs.python.org/3/library/sqlite3.html
* https://www.dataquest.io/blog/jupyter-notebook-tutorial/

# Core

In [2]:
# import sqlite from standard library
import sqlite3

# initialize a connection to the database
DB = sqlite3.connect("imdb.sqlite")

# create a helper function to execute a query
def Q(query):
    """Return the first 50 rows from a query."""
    return DB.execute(query).fetchmany(50)

# Examples

In [3]:
# count the number of persons
Q("SELECT COUNT(*) from names")

[(12609,)]

In [4]:
# return the name of the first 10 actors
Q("SELECT primaryName FROM names LIMIT 10")

[('Buster Keaton',),
 ('Edward G. Robinson',),
 ('Max Steiner',),
 ('Charles Chaplin',),
 ('Robert Ellis',),
 ('John Ford',),
 ('D.W. Griffith',),
 ('Fritz Lang',),
 ('Bela Lugosi',),
 ('Edgar Allan Poe',)]

In [5]:
# use triple-quote to execute a long query
Q("""
SELECT m.primaryTitle, n.primaryName
FROM writers as w
INNER JOIN names AS n on w.nconst = n.nconst
INNER JOIN basics AS m ON w.tconst = m.tconst
LIMIT 10
""")

[('Miss Jerry', 'Alexander Black'),
 ('Awakening of Rip', 'Washington Irving'),
 ('Exit of Rip and the Dwarf', 'Washington Irving'),
 ('The House of the Devil', 'Georges Méliès'),
 ('Rip Leaving Sleepy Hollow', 'Washington Irving'),
 ('Rip Meeting the Dwarf', 'Washington Irving'),
 ('Rip Passing Over the Mountain', 'Washington Irving'),
 ("Rip's Toast", 'Washington Irving'),
 ("Rip's Toast to Hudson", 'Washington Irving'),
 ("Rip's Twenty Years' Sleep", 'Washington Irving')]

In [95]:
# if an exception occurs, don't panic !
# read the error message, find the cause and fix the query
# in this case, the table 'movies' does not exist, use 'basics' instead

# uncomment to see the error
# Q("SELECT * FROM movies;")
#Q("select * from directors")
#Q("select * from writers")
Q("select name from sqlite_master where type = 'table'")
Q("pragma table_info(names)")

[(0, 'nconst', 'TEXT', 1, None, 1),
 (1, 'primaryName', 'TEXT', 1, None, 0),
 (2, 'birthYear', 'INTEGER', 0, None, 0),
 (3, 'deathYear', 'INTEGER', 0, None, 0),
 (4, 'primaryProfession', 'TEXT', 1, None, 0),
 (5, 'knownForTitles', 'TEXT', 0, None, 0)]

**This diagram shows the structure of a SELECT statement.**

Find more at this address: https://www.sqlite.org/lang_select.html

![SELECT](https://www.sqlite.org/images/syntax/select-stmt.gif)

# QUESTIONS

__1. How many movies does the database contain ?__ 
- _hint: use the COUNT operator in the SELECT clause_

In [8]:
def Q1():
    # YOUR CODE HERE
    return Q("SELECT COUNT(*) FROM basics")
    #raise NotImplementedError()

Q1()

[(9868,)]

In [9]:
assert len(Q1()) == 1  # has 1 row
assert len(Q1()[0]) == 1  # has 1 column

__2. What is the longest movie ?__
- _hint: use another operator than COUNT_

In [16]:
def Q2():
    # YOUR CODE HERE
    return Q("SELECT primaryTitle from basics where runtimeMinutes in(SELECT max(runtimeMinutes) from basics)")
    #raise NotImplementedError()

Q2()

[('The Hazards of Helen',)]

In [17]:
assert len(Q2()) == 1  # has 1 row
assert len(Q2()[0]) == 1  # has 1 column

__3. What is the average number of vote per rating ?__
- _hint: use yet another operator than COUNT_

In [19]:
def Q3():
    # YOUR CODE HERE
    return Q("select avg(numVotes) from ratings")
    #raise NotImplementedError()

Q3()

[(213.1224770642202,)]

In [20]:
assert len(Q3()) == 1  # has 1 row
assert len(Q3()[0]) == 1  # has 1 column

__4. What are the primary title and start year of the first 10 movies ?__
- _hint: use the LIMIT clause to return a fix number of row_

In [21]:
def Q4():
    # YOUR CODE HERE
    return Q("Select primaryTitle, startyear from basics limit 10")
    #raise NotImplementedError()

Q4()

[('Carmencita', 1894),
 ('Le clown et ses chiens', 1892),
 ('Pauvre Pierrot', 1892),
 ('Un bon bock', 1892),
 ('Blacksmith Scene', 1893),
 ('Chinese Opium Den', 1894),
 ('Corbett and Courtney Before the Kinetograph', 1894),
 ('Edison Kinetoscopic Record of a Sneeze', 1894),
 ('Miss Jerry', 1894),
 ('Employees Leaving the Lumière Factory', 1895)]

In [22]:
assert len(Q4()) == 10  # has 10 rows
assert all(len(row) == 2 for row in Q4())  # has 2 column per row (primary title, start year)

__5. Which distinct title language are available (in the akas table) ?__
- _hint: use the DISTINCT operator to remove duplicates from results_

In [23]:
def Q5():
    # YOUR CODE HERE
    return Q("select distinct language from akas" )
    #raise NotImplementedError()

Q5()

[(None,),
 ('sv',),
 ('en',),
 ('tr',),
 ('es',),
 ('sr',),
 ('cs',),
 ('fa',),
 ('fr',),
 ('bg',),
 ('ca',),
 ('nl',),
 ('qbn',),
 ('pt',),
 ('ru',)]

In [24]:
assert len(Q5()) == 15  # has 15 rows
assert all(len(row) == 1 for row in Q5())  # has 1 column per row (language)

__6. What are the 10 first distinct principals job sorted alphabetically (A -> Z)?__
- _hint: use the ORDER BY clause to sort results in ascending order_

In [27]:
def Q6():
    # YOUR CODE HERE
    return Q("select distinct job from principals order by job asc limit 10")
    # raise NotImplementedError()

Q6()

[(None,),
 ('English titles',),
 ('Gettysburg Address',),
 ('adaptation',),
 ('adaptation and scenario',),
 ('adaptation and titles',),
 ('adapted for the screen by',),
 ("adapted from 'The Chink and the Child' by",),
 ('adapted from his novel: "The Clansman: An Historical Romance of the Ku Klux Klan"',),
 ('adapted from the book: "My Mamie Rose"',)]

In [28]:
assert len(Q6()) == 10  # has 10 rows
assert all(len(row) == 1 for row in Q6())  # has 1 column per row (category)

__7. Which movies were started before 1895 (excluded) ?__
- _hint: use the WHERE clause to filter results_

In [32]:
def Q7():
    # YOUR CODE HERE
    return Q("select primarytitle, startyear from basics where startyear<1895")
    #raise NotImplementedError()

Q7()

[('Carmencita', 1894),
 ('Le clown et ses chiens', 1892),
 ('Pauvre Pierrot', 1892),
 ('Un bon bock', 1892),
 ('Blacksmith Scene', 1893),
 ('Chinese Opium Den', 1894),
 ('Corbett and Courtney Before the Kinetograph', 1894),
 ('Edison Kinetoscopic Record of a Sneeze', 1894),
 ('Miss Jerry', 1894),
 ("Autour d'une cabine", 1894)]

In [33]:
assert len(Q7()) == 10  # has 10 rows
assert all(len(row) == 2 for row in Q7())  # has 2 columns per row (primarty title, start year)

__8. Which persons were born after 1900 and died after 2000 (both excluded) ?__
- _hint: use the AND operator to combine query conditions_

In [65]:
def Q8():
    # YOUR CODE HERE
    return Q("select primaryname, birthyear, deathyear from names where deathyear>2000 and birthyear>1900")
    #raise NotImplementedError()

Q8()

[('Zoe Rae', 1910, 2006),
 ('True Boardman', 1909, 2003),
 ('Thelma Burns', 1910, 2004),
 ('William Davies', 1921, 2006),
 ('James Patrick Doyle', 1956, 2002),
 ('Mae Giraci', 1910, 2006),
 ('Helen Hawley', 1909, 2003),
 ('Peaches Jackson', 1913, 2002),
 ('Billy Jacobs', 1910, 2004),
 ('Joey Jacobs', 1914, 2003),
 ('Pat Moore', 1912, 2004),
 ('Joan Morgan', 1905, 2004),
 ('Marie Osborne', 1911, 2010),
 ('Rosa Rio', 1902, 2010),
 ('Georgie Stone', 1909, 2010),
 ('Vivian Tobin', 1902, 2002),
 ('Coy Watson', 1912, 2009),
 ('Irving Foy', 1908, 2003),
 ('Lizzie Ruge', 1911, 2007)]

In [66]:
assert len(Q8()) == 19  # has 19 rows
assert all(len(row) == 3 for row in Q8())  # has 3 columns per row (primary name, birth year, death year)

__9. What are the film titles associated to French (fr) and Dutch (nl) language ?__
- _hint: use the OR operator to combine query conditions_

In [52]:
def Q9():
    # YOUR CODE HERE
    return Q("select title, language from akas where language = 'fr' or language = 'nl'")
    # raise NotImplementedError()

Q9()

[('Le vol du grand rapide', 'fr'),
 ('De roos van Salem', 'nl'),
 ('De rampzalige liefde van Algabert en Elisabeth van Rodenburg', 'nl'),
 ('Le diamant noir', 'fr'),
 ('La pie noire', 'fr'),
 ('Charlot boxeur', 'fr'),
 ('Un lâche', 'fr'),
 ('La ravageuse', 'fr'),
 ('Charlot vagabond', 'fr'),
 ('Derrière les coulisses', 'fr'),
 ('Le machiniste héberlué', 'fr'),
 ('Charlot machiniste', 'fr'),
 ('Le comte', 'fr'),
 ("Le héros à l'échelle", 'fr'),
 ('Le pompier', 'fr'),
 ('Le clochard', 'fr'),
 ('Charlot musicien', 'fr'),
 ('Le troubadour au violon', 'fr'),
 ("L'évadé", 'fr'),
 ('La Reine des Césars', 'fr'),
 ('Le policeman', 'fr'),
 ('Charlot policier', 'fr'),
 ("Charlot ne s'en fait pas", 'fr'),
 ('Charlot voyage', 'fr'),
 ('Dageraad...', 'nl'),
 ('Une vie de chien', 'fr'),
 ('Haar overwinning', 'nl'),
 ('Haar groot avontuur', 'nl'),
 ('Poppéa', 'fr'),
 ('Gallagher poing-nu', 'fr')]

In [53]:
assert len(Q9()) == 30  # has 30 rows
assert all(len(row) == 2 for row in Q9())  # has 2 columns per row (title, language)

__10. What are the number of votes associated to the first 10 movies ?__
- _hint: use the INNER JOIN clause to combine table columns_

In [58]:
def Q10():
    # YOUR CODE HERE
    return Q("select primaryTitle, numVotes from basics inner join ratings using(tconst) limit 10")
    #raise NotImplementedError()

Q10()

[('Carmencita', 1412),
 ('Le clown et ses chiens', 166),
 ('Pauvre Pierrot', 1005),
 ('Un bon bock', 99),
 ('Blacksmith Scene', 1706),
 ('Chinese Opium Den', 87),
 ('Corbett and Courtney Before the Kinetograph', 568),
 ('Edison Kinetoscopic Record of a Sneeze', 1516),
 ('Miss Jerry', 68),
 ('Employees Leaving the Lumière Factory', 5056)]

In [67]:
assert len(Q10()) == 10  # has 10 rows
assert all(len(row) == 2 for row in Q10())  # has 2 columns per row (primary title, number of votes)

__11. What are the director, movie name and runtime of the first 10 movies whose runtime > 120 ?__
- _hint: you should combine INNER JOIN and WHERE clauses_

In [70]:
def Q11():
    # YOUR CODE HERE
    return Q('''select primaryname, primarytitle, runtimeMinutes 
                from basics inner join directors using(tconst) inner join names using(nconst) 
                where runtimeMinutes>120 limit 10''')
    #raise NotImplementedError()

Q11()

[('August Blom', 'Atlantis', 121),
 ('Albert Capellani', 'Germinal; or, The Toll of Labor', 150),
 ('Albert Capellani', 'Les Misérables, Part 2: Fantine', 300),
 ('Arthur V. Johnson', 'The Beloved Adventurer', 450),
 ('Giovanni Pastrone', 'Cabiria', 148),
 ('Leo D. Maloney', 'The Hazards of Helen', 1428),
 ('Paul Hurst', 'The Hazards of Helen', 1428),
 ('Robert G. Vignola', 'The Hazards of Helen', 1428),
 ('J.P. McGowan', 'The Hazards of Helen', 1428),
 ('J. Gunnis Davis', 'The Hazards of Helen', 1428)]

In [71]:
assert len(Q11()) == 10  # 10 rows
assert all(len(row) == 3 for row in Q11())  # 3 columns per row (primary name, primary title, runtime in minutes)

__12. How many movies are identified as adult and how many as not adult ?__
- _hint: use the GROUP BY clause to perform aggregation on groups_

In [73]:
def Q12():
    # YOUR CODE HERE
    return Q("select isAdult, count(isAdult) from basics group by isAdult")
    #raise NotImplementedError()

Q12()

[(0, 9868)]

In [74]:
assert len(Q12()) >= 1  # has at least 1 row
assert all(len(row) == 2 for row in Q12())  # has 2 column per row (key, result)

__13. Which birth years are associated to more than 200 persons (excluded) ?__
- _hint: use the HAVING clause to filter aggregation result_

In [78]:
def Q13():
    # YOUR CODE HERE
    return Q("select birthyear, count(*) a from names where birthyear is not null group by birthyear having a>200")
    #raise NotImplementedError()

Q13()

[(1878, 201),
 (1880, 230),
 (1882, 209),
 (1884, 234),
 (1885, 237),
 (1886, 217),
 (1887, 204),
 (1888, 224),
 (1889, 243)]

In [79]:
assert len(Q13()) == 9  # has 9 rows
assert all(len(row) == 2 for row in Q13())  # has 2 columns per row (birth year, result)

__14. What are the minimum and maximum movie time per title type ?__
- _hint: combine multiple aggregation operator in the SELECT clause_

In [43]:
def Q14():
    # YOUR CODE HERE
    return Q("select titleType, min(runtimeMinutes), max(runtimeMinutes)from basics group by titleType")
    #raise NotImplementedError()

Q14()

[('movie', 5, 1428), ('short', 0, 51)]

In [44]:
assert len(Q14()) == 2  # has 2 rows
assert all(len(row) == 3 for row in Q14())  # has 3 columns per row (title type, min runtime, max runtime)

__15. What are the first 10 pair of person/movie with the same birth/start year, sorted by movie title ?__
- _hint: find an appropriate condition for the INNER JOIN clause_

In [87]:
def Q15():
    # YOUR CODE HERE
    return Q("select primaryname, primarytitle from basics inner join names on birthyear == startyear order by primarytitle limit 10")
    #raise NotImplementedError()

Q15()

[('Fay McKenzie', '$5,000 Reward'),
 ('William Anderson', '$5,000 Reward'),
 ('Ferenc Szécsi', "'Arriet's Baby"),
 ('Loretta Young', "'Arriet's Baby"),
 ('Marion Weldon', "'Arriet's Baby"),
 ('Martijn de Vries', "'Arriet's Baby"),
 ('Mary Jane Irving', "'Arriet's Baby"),
 ('Mildred May', "'Arriet's Baby"),
 ('Nancy Caswell', "'Arriet's Baby"),
 ('Peaches Jackson', "'Arriet's Baby")]

In [88]:
assert len(Q15()) == 10  # has 10 rows
assert all(len(row) == 2 for row in Q15())  # has 2 columns per row (primary name, primary title)

__16. For which movie title does Harrison Ford is known for ordered by movie title ?__
- _hint: don't spend too much time on this question if it is too hard_

In [96]:
def Q16():
    # YOUR CODE HERE
    #return Q("select knownfortitles from names where primaryname = 'Harrison Ford'")
    return Q('''select primaryname, primarytitle from basics, names 
                where primaryname = 'Harrison Ford' and knownfortitles like '%'||tconst||'%' ''')

Q16()

[('Harrison Ford', 'Excuse Me'),
 ('Harrison Ford', 'The Mysterious Mrs. Musslewhite')]

In [97]:
assert len(Q16()) == 2  # has 2 rows
assert all(len(row) == 2 for row in Q16())  # has 2 columns per row (primary name, primary title)

__17. What are the first 10 movies that start with the letter W in descending order ?__
- _hint: use the LIKE operator to perform text search_

In [39]:
def Q17():
    # YOUR CODE HERE
    return Q("select primarytitle from basics where primarytitle like 'W%' order by primarytitle desc limit 10")
    #raise NotImplementedError()

Q17()

[('Wrath of Love',),
 ('Wrath',),
 ('Wormwood',),
 ('Working Out with Police Dog',),
 ('Work',),
 ('Wooden Shoes',),
 ('Wonderful Mirrors',),
 ('Won in a Closet',),
 ('Won by a Fish',),
 ("Women's Weapons",)]

In [40]:
assert len(Q17()) == 10  # has 10 rows
assert all(len(row) == 1 for row in Q17())  # has 1 column per row (primary title)

__18. How many persons are both writer and director ?__
- _hint: use the INTERSECT operator to perform set intersection_

In [4]:
def Q18():
    # YOUR CODE HERE
    return Q("select count(*) from (select nconst from writers intersect select nconst from directors)")
    #raise NotImplementedError()

Q18()

[(575,)]

In [101]:
assert len(Q18()) == 1  # has 1 row
assert len(Q18()[0]) == 1  # has 1 column

__19. Concatenate and count the number of distinct primary profession (names) and distinct job (principals)__
- _hint: use the UNION to concatenate two result sets_

In [99]:
def Q19():
    # YOUR CODE HERE
    return Q("select count(*) from (select distinct primaryprofession from names union select distinct job from principals)")#TODO
    #raise NotImplementedError()

Q19()

[(1201,)]

In [102]:
assert len(Q19()) == 1  # has 1 row
assert len(Q19()[0]) == 1  # has 1 column

__20. How many directors are not writers ?__
- _hint: use the EXCEPT operator to perform a difference on two result sets_

In [3]:
def Q20():
    # YOUR CODE HERE
    return Q("select count(*) from (select nconst from directors except select nconst from writers)")
    #raise NotImplementedError()

Q20()

[(557,)]

In [104]:
assert len(Q20()) == 1  # has 1 row
assert len(Q20()[0]) == 1  # has 1 column